.shown {
    display: block;
    animation: shown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1)
}
.hidden {
    display: none; 
    animation: shown 0.5s cubic-bezier(0.075, 0.82, 0.165, 1) 
}


@keyframes vanish {
    from {
        display: block;
        opacity: 1;
    }

    to {
        display: none;
        opacity: 0;
    }
    
}

@keyframes shown {
    from {
        display: none;
        opacity: 0;
    }

    to {
        display: block;
        opacity: 1;
    }
}